@import "../wwwroot/css/_variables.scss";

.button {
    padding: 0;
    background-color: transparent;
    transition: transform $animation-duration;
    transform: scale(1);
    cursor: pointer;
    width: 100%;
}

.button.active {
    transform: scale(1.05);
}

.button.disabled {
    cursor: not-allowed;
}

.content-container {
    width: 100%;
}

.edge {
    align-items: stretch;
    width: $spacer * .25 * 1.5;
}

.main {
    padding-top: $spacer * .25 * 3;
    padding-bottom: $spacer * .25 * 3;
    padding-left: $spacer * .25 * 8;
    padding-right: $spacer * .25 * 8;
    text-transform: uppercase;
    font-size: 1.17em;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.bg-primary {
    background-color: $primary;
    color: black;
}

.bg-primary.active {
    background-color: $primary-active;
}

.bg-primary.disabled {
    background-color: $primary-inactive;
}