@using GUI.Data

<div class="position-relative">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="title-text">DRGSS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h2 class="sub-text">Deep Rock Galactic Save Syncer</h2>
        </div>
    </div>
    <div class="link-container">
        @if (_RepoUrl != null)
        {
            <div class="d-inline-block stealth-button p-1" title="View on GitHub" @onclick="@(e => OpenUrlInBrowser(_RepoUrl))">
                <img class="icon-m" src="/icons/github_logomark.png" />
            </div>
        }
        @if (_WikiUrl != null)
        {
            <div class="d-inline-block stealth-button p-1" title="View the Wiki" @onclick="@(e => OpenUrlInBrowser(_WikiUrl))">
                <img class="icon-m" src="/icons/help_icon.png" />
            </div>
        }
    </div>
</div>

@code {
    [Inject]
    private ILogger<Header> _Logger { get; set; } = default!;
    [Inject]
    public ConfigLoaderService ConfigLoader { get; set; } = default!;

    private string? _RepoUrl;
    private string? _WikiUrl;

    protected override void OnInitialized()
    {
        _RepoUrl = ConfigLoader.Config.RepoUrl;
        _WikiUrl = ConfigLoader.Config.WikiUrl;
    }

    protected void OpenUrlInBrowser(string url)
    {
        _Logger.LogInformation($"Opening url: {url}");
        ElectronNET.API.Electron.Shell.OpenExternalAsync(url);
    }
}
