@import "../wwwroot/css/_variables.scss";

.title-text {
    font-family: DangerFlight;
    font-size: 3rem;
    color: $text;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 3px;
}

.sub-text {
    font-family: CarbonRegular;
    font-size: 1rem;
    color: $text;
}

.refresh-container {
    position: absolute;
    top: 0;
    left: $spacer * .25 * 4;
}

.refresh-container:hover {
    opacity: 1;
}

.github-link-container {
    position: absolute;
    top: 0;
    right: 0;
}

.github-link-container:hover {
    opacity: 1;
}

.refresh-container.no-refresh-available {
    pointer-events: none;
    opacity: 0 !important;
}