<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h1 class="title-text">DRGSS</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h2 class="sub-text">Deep Rock Galactic Save Syncer</h2>
    </div>
</div>

@code {

}
