@import "../wwwroot/css/_variables.scss";

.title-text {
    font-family: DangerFlight;
    font-size: 3rem;
    color: $text;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 3px;
}

.sub-text {
    font-family: CarbonRegular;
    font-size: 1rem;
    color: $text;
}

.github-link-container {
    position: absolute;
    top: 0;
    right: $spacer * .25 * 4;
    cursor: pointer;
    opacity: $faded;
    transition: $animation-duration;
}

.github-link-container:hover {
    opacity: 1;
}