<div class="d-flex align-items-center @containerClasses position-relative">
    <img class="@imageClasses" src="@imagePath" />
    <div class="@textClasses">@text</div>
    <div class="background-bar" style="height: @barHeight;"></div>
</div>

@code {
    [Parameter]
    public string containerClasses { get; set; } = "mt-1 mb-3 ml-1 mr-1";
    [Parameter]
    public string imagePath { get; set; } = default!;
    [Parameter]
    public string imageClasses { get; set; } = "icon-xl mr-3";
    [Parameter]
    public string text { get; set; } = "Header Text";
    [Parameter]
    public string textClasses { get; set; } = "";
    [Parameter]
    public string barHeight { get; set; } = "24px";
}
