@import "../wwwroot/css/_variables.scss";

.background-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: rgba(0, 0, 0, 0.33);
    width: calc(100% - 40px + #{$spacer * 0.25});
    margin-left: 40px;
    z-index: -1;
}