@import "../wwwroot/css/_variables.scss";

.data-container {
    margin-left: $spacer * 0.25 * 4;
}

$faded: 0.66;

.field-name {
    opacity: $faded;
}

.open-in-explorer {
    transition: 0.15s;
    opacity: $faded;
}

.open-in-explorer:hover {
    opacity: 1;
}