@import "../wwwroot/css/_variables.scss";

.slant-up {
    transform: skew(0deg, -1deg);
}

.slant-down {
    transform: skew(0deg, 1deg);
}

.comparison-container {
    width: 1rem;
    font-family: monospace;
}