@import "../wwwroot/css/_variables.scss";
@import "../wwwroot/css/_mixins.scss";

.slant-up {
    @include slant-up;
}

.slant-down {
    @include slant-down;
}

.save-file-container {
    height: 100%;
}

.comparison-container {
    width: 1rem;
    font-family: monospace;
}

.version-container {
    opacity: 0.5;
    font-size: 0.75rem;

    position: absolute;
    bottom: 0;
    right: 0;
}
