# Unnecessary wwwroot files
wwwroot/images/*
wwwroot/icons/*
wwwroot/fonts/*
wwwroot/videos/*
wwwroot/config.json

# Unnecessary css files
Components/**/*.css
wwwroot/css/site.css
wwwroot/css/modal.css
wwwroot/css/_*.css

# Data copied by libman
icon.png