<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogToConsole="true"
      internalLogLevel="warn">

	<targets>
		<target xsi:type="File"
				name="logfile"
				fileName="${basedir}/logs/drgss.log"
				layout="${longdate} | ${level} | ${logger} - ${message} ${all-event-properties} ${exception:format=tostring}"
				maxArchiveFiles="10"
				archiveOldFileOnStartup="true"
				archiveNumbering="DateAndSequence"
				keepFileOpen="false"
		/>
		<target xsi:type="ColoredConsole"
				name="logconsole"
				layout="${longdate} | ${level} | ${logger} - ${message} ${all-event-properties} ${exception:format=tostring}"
		/>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Core*" minlevel="Trace" writeTo="logfile,logconsole" />
		<logger name="GUI*" minlevel="Trace" writeTo="logfile,logconsole" />
	</rules>
</nlog>