@import "../../wwwroot/css/_variables.scss";

.save-file-container {
    flex-grow: 1;
    border-top: $spacer * 0.25 solid $primary;
    border-bottom: $spacer * 0.25 solid $primary;
    background: linear-gradient(66deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.33) 100%);
    cursor: pointer;
}

.save-file-container.active {
    border-color: $primary-active;
}

$border: $spacer * .25 solid $primary;
$vertical-offset: $spacer * .25 * 3 * -1;
$horizontal-offset: $spacer * .25 * 2 * -1;

.highlight {
    position: absolute;
    width: 50px;
    height: 50px;
}

.highlight.active {
    border-color: $primary-active !important;
}

.highlight.top-left {
    border-top: $border;
    border-left: $border;
    top: $vertical-offset;
    left: $horizontal-offset;
    pointer-events: none;
}

.highlight.top-right {
    border-top: $border;
    border-right: $border;
    top: $vertical-offset;
    right: $horizontal-offset;
    pointer-events: none;
}

.highlight.bottom-left {
    border-bottom: $border;
    border-left: $border;
    bottom: $vertical-offset;
    left: $horizontal-offset;
    pointer-events: none;
}

.highlight.bottom-right {
    border-bottom: $border;
    border-right: $border;
    bottom: $vertical-offset;
    right: $horizontal-offset;
    pointer-events: none;
}

.missing-save-file-container {
    height: 100%;
}

$missing-save-file-img-size: 128px;

.missing-save-file-content-container {
    height: $missing-save-file-img-size;
    width: $missing-save-file-img-size;
}

img.missing-save-file {
    filter: saturate(0) brightness(10);
    height: inherit;
    width: inherit;
    opacity: $faded;
    z-index: 5;
}

.missing-save-file-background {
    top: 50%;
    left: 50%;
    box-shadow: 0 0 $missing-save-file-img-size #{$missing-save-file-img-size / 2} black;
}

.missing-save-file-header,
.missing-save-file-text {
    z-index: 5;
}

.missing-save-file-text {
    max-width: 512px;
    opacity: $faded;
}

.missing-save-file-text>li {
    margin-bottom: $spacer * .25;
}